<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- import stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet_main.css">

  </head>

  <!-- BODY -->
  <body>
      <!-- Page Title -->
      <div class="top-buffer">
          <div class="container-fluid">
              <div class="row">
                  <div class="col">
                  </div>
                  <div class="col">
                      <h4 class="text-center" id="main_title"> {{ title }} </h4>
                  </div>
                  <div class="col">
                  </div>
              </div>
          </div>
      </div>

      <!-- Create a satellite selection via Intl Desig -->
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-3">
                  <div class="pull-right" id="intl_desig_lbl">Search by International Designator:</div>
              </div>
              <div class="col-md-2">
                  <form action="/track" method="POST">
                      <input type="text" name="intl_desig_input" class="form-control" id="intl_desig_form" placeholder="Search for...">
                      <button class="btn btn-default" type="submit" id="intl_desig_btn">Go!</button>
                  </form>
              </div>
              <div class="col-md">
                  <p>INTERNATIONAL DESIGNATOR: {{ intl_desig }}</p>
                  <p>LINE 1: {{ tle_l1 }}</p>
                  <p>LINE 2: {{ tle_l2 }}</p>
              </div>
          </div>
      </div>

      <!-- Display Information -->
      <div class="top-buffer">
          <div class="left-buffer">
              <div class="container-fluid">
                  <div class="row">
                  </div>
              </div>
          </div>
      </div>


  </body>
</html>
