<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified three.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/97/three.min.js" type="text/javascript"></script>

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- import stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet_main.css">
  </head>

  <!-- BODY -->
  <body>
      <!-- Page Title -->
      <div class="top-buffer">
          <div class="container-fluid">
              <div class="row">
                  <div class="col">
                  </div>
                  <div class="col">
                      <h4 class="text-center" id="main_title"> {{ title }} </h4>
                  </div>
                  <div class="col">
                  </div>
              </div>
          </div>
      </div>

      <!-- Create a satellite selection via Intl Desig -->
      <div class="container-fluid">
          <div class="row">

              <!-- Intl Desig Input Header -->
              <div class="col-md-2">
                  <div class="pull-right" id="intl_desig_lbl">Search by International Designator:</div>
              </div>

              <!-- Intl Desig Input -->
              <div class="col-md-2">
                  <form action="/track" method="POST">
                      <input type="text" name="intl_desig_input" class="form-control" id="intl_desig_form" placeholder="Search for...">
                  </form>
              </div>

              <!-- Track Button -->
              <div class="col-md-2">
                   <form action="/track" method="POST">
                      <button class="btn btn-default" type="submit" id="intl_desig_btn">Go!</button>
                   </form>             
              </div>

          <!-- TLE Data -->
              <div class="col-md-6">
                  <div class="col-md-4 text-right">
                      INTERNATIONAL DESIGNATOR:<br>
                      LINE 1:<br>
                      LINE 2:<br>
                  </div>
                  <div class="col-md-8">
                      {{ intl_desig }}<br>
                      {{ tle_l1 }}<br>
                      {{ tle_l2 }}<br>
                  </div>
              </div>
          </div>
      </div>

      <!-- Display Information -->
      <div class="top-buffer">
          <div class="left-buffer">
              <div class="container-fluid">
                  <div class="row">

                      <!-- import satellite.js -->
                      <script src="/static/node_modules/satellite.js/dist/satellite.js"></script>
                      <!-- import sat_info.js script -->
                      <script src="/static/js/sat_info.js"></script>

                      
                      <!-- Orbit Information Here -->
                      <div class="col-md-2" id="orbit-info-left">
                          <script>
                             var desig = '{{ intl_desig }}';
                             var l1 = '{{ tle_l1 }}';
                             var l2 = '{{ tle_l2 }}';
                             var arr_tle = [desig, l1, l2];
                             get_orbit_stats_left(arr_tle);
                          </script>                     
                      </div>
                      <div class="col-md-3" id="orbit-info-right">
                          <script>
                             var desig = '{{ intl_desig }}';
                             var l1 = '{{ tle_l1 }}';
                             var l2 = '{{ tle_l2 }}';
                             var arr_tle = [desig, l1, l2];
                             get_orbit_stats_right(arr_tle);
                          </script>
                      </div>

                      <!-- Miller Projection Here -->
                      <div class="col-md-7 text-left">
                      </div>
                  </div>
              </div>
          </div>
      </div>


  </body>
</html>
