/*************/
/* CLASS CSS */
/*************/
.top-buffer {
    margin-top:20px;
}

.left-buffer {
    margin-left:10px;
}

.bottom-buffer {
    margin-bottom:5px;
}

/*****************/
/* CLASS ELEMENT */
/*****************/
body {
    font-family:"Questrial", sans-serif;
}

/************/
/* CLASS ID */
/************/
#mapdiv {
    width:600px;
    height:400px;
}
