.top-buffer {
    margin-top:20px;
}

.left-buffer {
    margin-left:10px;
}

.bottom-buffer {
    margin-bottom:5px;
}

#main_title {
    color:White;
}

#intl_desig_form {
    color:White;
    background-color:DarkSlateGrey;
}

#intl_desig_btn {
    color:White;
    background-color:DarkSlateGrey;
}

#intl_desig_lbl {
    color:White;
}

body {
    font-family:"Questrial", sans-serif;
    background-color:Black;
}

