<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">

<!-- JS AMMAP LIB IMPORTS -->
<script src="/static/ammap/ammap.js" type="text/javascript"></script>
<script src="/static/ammap/themes/dark.js"></script>
<link rel="stylesheet" href="/static/ammap/ammap.css" type="text/css" media="all" />

<!-- JS SATELLITE-JS IMPORTS -->
<script src="../static/node_modules/satellite.js/dist/satellite.min.js"></script>

<!-- insert js map -->
<script src="/static/ammap/maps/js/worldLow.js" type="text/javascript"></script>

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" media"screen" href="/static/bootstrap.min.css">

    <!-- Stylesheet -->
    <style>
    .top-buffer {
        margin-top:20px;
    }

    .left-buffer {
        margin-left:10px;
    }

    .bottom-buffer {
        margin-bottom:5px;
    }

    body {
        font-family:"Questrial", sans-serif;
    }
    </style>

  </head>

  <!-- BODY -->
  <body>
      <div class="top-buffer">
          <div class="container-fluid">
              <h4 class="text-center">TRACKING</h4>
          </div>
      </div>
      <div class="top-buffer">
          <div class="container-fluid">
              <div class="row">
                  <div class="col"></div>
                  <div class="col"> 
                      <!-- BEG MAP SCRIPT -->
                      <!-- DIV THAT HOLDS THE MAP -->
                      <div id="mapdiv" style="width: 600px; height: 400px; background-color: #001A39;">
                          <script type="text/javascript" src="/static/js/set_map.js"></script>
                          <script type="text/javascript">
                                make_map({{ tle | safe }});
                          </script>
                      </div>
                      <!-- END MAP SCRIPT -->
                  </div>
                  <div class="col"></div>

              </div>
          </div>

          <!-- APP Navigation Buttons -->
          <div class="top-buffer">
              <div class="container-fluid">
                  <script type="text/javascript" src="/static/js/sat_info.js"></script>
                  <div class="row">

                      <div class="col" id="orbit-info-left">
                          <script type="text/javascript">
                                get_orbit_stats_left({{ tle | safe }});
                          </script>                     
                      </div>
                      <div class="col text-left"></div>
                      <div class="col text-center"></div>
                      <div class="col"></div>
                      <div class="col" id="orbit-info-right">
                          <script type="text/javascript">
                                get_orbit_stats_right({{ tle | safe }});
                          </script>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      <!-- APP Navigation Buttons -->
      <div class="top-buffer">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4 text-center">
                      <a href="/"><button type="button" class="btn btn-info">Back</button></a>
                  </div>
                  <div class="col-sm-4"></div>
              </div>
          </div>
      </div>
  </body>

</html>
